name: PageSpeed Insights
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  performance:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run PageSpeed Insights
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: 'https://egbaiyelo.github.io/Portfolio' 
          configPath: './.github/config/lighthouserc.json'
          uploadArtifacts: true 
          temporaryPublicStorage: true 